<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
</head>
<body>
    <div>
        <button onclick="doAjaxGetRequest()">doAjaxGet</button>
        <button onclick="doAjaxPostRequest()">doAjaxPost</button>
    </div>
    <div id="result"></div>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript">
        function doAjaxPostRequest() {
            var url="/ajax/doAjaxPostRequest";
            var params="key=A&value=100";
            /*
           * 发送ajax请求
           * */
            doAjaxPost(url,params,function (result) {
                alert(result);
            })
        }
    </script>
    <script type="text/javascript">
        function doAjaxGetRequest() {
            /*
            * 定义请求url
            * */
            var url="/ajax/doAjaxGetRequest";
            /*
            * 定义请求参数
            * */
            var params="Key=A";
            /*
           * 发送ajax请求
           * */
            doAjaxGet(url,params,function (result) {
                var obj=document.getElementById("result");
                obj.innerHTML=result;
            });
        }
    </script>
</body>
</html>